
<h1>This is home page</h1>
<% if logged_in? %>
  <p>welcome <%= current_user.name %></p>
  <%= link_to "log out", logout_path, method: :delete %>
  <% else %>
  <p>welcome guest</p>
  <%= link_to "login", login_path %>
<% end %>
